<% if @member_book_rentals.length > 0 %>
  <div class="overflow-x-auto w-full">
    <table class="index-table">
      <thead>
      <tr>
        <th></th>
        <th><%= t('book_id') %></th>
        <th><%= t('name') %></th>
        <th><%= t('issued_on') %></th>
        <th><%= t('due_by') %></th>
        <th><%= t('book_fine') %></th>
      </tr>
      </thead>
      <tbody>
      <% @member_book_rentals.each do |book_rental| %>
        <tr data-controller="book-rental-return" data-action="changed->returns-form#handleFineChange">
          <td>
            <%= check_box :return, :book_rental_ids, {multiple: true, data: { action: "book-rental-return#handleChecked" }}, book_rental.id, nil %>
          </td>
          <td><%= book_rental.book.id %></td>
          <td><%= book_rental.book.name %></td>
          <td><%= book_rental.issued_on %></td>
          <td><%= book_rental.due_by %></td>
          <td class="pr-4">
            &#8377; <span data-book-rental-return-target="fine"><%= "#{'%.2f' % book_rental.fine(@returning_on)}" %></span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="flex w-full justify-center items-center">
    <p class="font-light text-gray-400 italic"><%= t('no_books_available') %></p>
  </div>
<% end %>