<div class="w-full px-4 md:px-12 py-4 shadow-md">
  <div class="flex justify-between items-center">
    <%= link_to t('library_name'), root_path, class: "font-black text-3xl text-blue-500" %>
    <nav class="flex flex-row items-center">
      <% if logged_in? %>
        <div class="group relative inline-block ml-8 py-2">
          <div>
            <button type="button" class="text-md font-semibold inline-flex justify-center items-center" aria-expanded="true" aria-haspopup="true">
              <%= link_to t('rentals'), book_rentals_path %>
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <div class="mt-2 hidden group-hover:block origin-top-right absolute right-0 min-w-24 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1 text-center" role="none">
              <%= link_to t('all'), book_rentals_path, class: "text-gray-700 block px-4 py-2 hover:bg-gray-300" %>
              <%= link_to t('new'), new_book_rental_path, class: "text-gray-700 block px-4 py-2 hover:bg-gray-300" %>
            </div>
          </div>
        </div>
        <div class="group relative inline-block ml-8 py-2">
          <div>
            <button type="button" class="text-md font-semibold inline-flex justify-center items-center" aria-expanded="true" aria-haspopup="true">
              <%= link_to t('new_return'), new_return_path %>
            </button>
          </div>
        </div>
        <div class="group relative inline-block ml-8 py-2">
          <div>
            <button type="button" class="text-md font-semibold inline-flex justify-center items-center" aria-expanded="true" aria-haspopup="true">
              <%= link_to t('books'), books_path %>
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <div class="mt-2 hidden group-hover:block origin-top-right absolute right-0 min-w-24 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1 text-center" role="none">
              <%= link_to t('all'), books_path, class: "text-gray-700 block px-4 py-2 hover:bg-gray-300" %>
              <%= link_to t('new'), new_book_path, class: "text-gray-700 block px-4 py-2 hover:bg-gray-300" %>
            </div>
          </div>
        </div>
        <div class="group relative inline-block ml-8 py-2">
          <div>
            <button type="button" class="text-md font-semibold inline-flex justify-center items-center" aria-expanded="true" aria-haspopup="true">
              <%= link_to t('members'), members_path %>
              <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <div class="mt-2 hidden group-hover:block origin-top-right absolute right-0 min-w-24 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1 text-center" role="none">
              <%= link_to t('all'), members_path, class: "text-gray-700 block px-4 py-2 hover:bg-gray-300" %>
              <%= link_to t('new'), new_member_path, class: "text-gray-700 block px-4 py-2 hover:bg-gray-300" %>
            </div>
          </div>
        </div>
        <div class="ml-8 pr-4 h-10 drop-shadow-md flex justify-center items-center text-md text-blue-500 border rounded-full bg-blue-100 font-semibold">
          <div class="mr-2 h-5 w-5 bg-blue-600 rounded-full font-black text-white flex justify-center items-center p-5">
            <%= current_staff&.username.to_s.first.capitalize %>
          </div>
          <div>
            <%= link_to t('log_out'), logout_path, method: :delete, class: "text-md font-semibold" %>
          </div>
        </div>
      <% else %>
        <%= link_to t('log_in'), login_path, class: "ml-8 text-md font-semibold" %>
      <% end %>
    </nav>
  </div>
</div>