<div class="mt-6">
  <% link = pagy_link_proc(pagy) -%>
  <nav aria-label="pager" class="pagy_nav pagination" role="navigation">
    <% if pagy.prev -%>
      <span class="page p-2 prev font-semibold rounded-md"><%== link.call(pagy.prev, pagy_t('pagy.nav.prev'), 'aria-label="previous"') %></span>
    <% else -%>  <span class="page p-2 font-semibold prev disabled text-gray-400 rounded-md"><%== pagy_t('pagy.nav.prev') %></span>
    <% end -%>
    <%= select :pagy, :page, nil, {}, class: 'border px-4 py-2 bg-gray-50 rounded', data: { controller: "pagination", action: "change->pagination#navigateToPage" } do %>
      <% (1..pagy.last).each do |i| %>
        <%= content_tag(:option, i, value: i, selected: i == pagy.page, data: { url: pagy_url_for(pagy, i) }) %>
      <% end %>
    <% end -%>
    <% if pagy.next -%>
      <span class="page p-2 font-semibold next rounded-md hover:border hover:border-blue-500"><%== link.call(pagy.next, pagy_t('pagy.nav.next'), 'aria-label="next"') %></span>
    <% else -%>  <span class="page p-2 font-semibold next disabled text-gray-400 rounded-md"><%== pagy_t('pagy.nav.next') %></span>
    <% end -%>
  </nav>
</div>
