<div class="flex justify-between mb-2">
  <div class="text-5xl font-black mb-4">Books</div>
  <% if logged_in? %>
  <div>
    <button class="rounded-md py-2 px-4 text-lg text-gray-500 border border-gray-400 font-semibold">
      <%= link_to "+ New Book", new_book_path %>
    </button>
  </div>
  <% end %>
</div>

<div class="my-4">
  <%= form_with url: books_path, method: :get, class: "flex flex-row gap-2", data: { controller: 'search-form', search_form_target: 'form' } do |f| %>
    <%= f.search_field :search, {
      placeholder: 'Search by book ID, name or author',
      value: params.dig(:search),
      class: "shadow border px-4 py-2 w-full rounded",
      data: { search_form_target: 'text' }
    } %>
    <%= f.submit "Search", class: "btn-primary" %>
    <%= button_tag "Reset", type: :reset, data: { action: 'search-form#reset' }, class: "btn-secondary" %>
  <% end %>
</div>

<div class="overflow-x-auto">
  <table class="index-table">
    <thead>
    <tr>
      <th>S.No.</th>
      <th>Name</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>Year</th>
      <th>Categories</th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.id %></td>
        <td><%= book.name %></td>
        <td><%= book.author.name %></td>
        <td><%= book.publisher&.name %></td>
        <td><%= book.publishing_year %></td>
        <td><%= book.categories.map { |c| c.name }.join(', ') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= render partial: 'shared/pagination_bar', locals: { pagy: @pagy } %>
