
<div class="flex justify-between mb-2">
  <div class="text-5xl font-black mb-4"><%= t('members') %></div>
  <% if policy(Member.new).new? %>
    <div>
      <button class="rounded-md py-2 px-4 text-lg text-gray-500 border border-gray-400 font-semibold">
        <%= link_to "+ #{t('new_member')}", new_member_path %>
      </button>
    </div>
  <% end %>
</div>
<div class="my-4">
  <%= form_with url: members_path, method: :get, class: "flex flex-row gap-2", data: { controller: 'search-form', search_form_target: 'form' } do |f| %>
    <%= f.search_field :search, {
      placeholder: t('search_by_name_id_or_personal_number'),
      value: params.dig(:search),
      class: "shadow border px-4 py-2 w-full rounded",
      data: { search_form_target: 'text' }
    } %>
    <%= f.submit t('search'), class: "btn-primary" %>
    <%= button_tag t('reset'), type: :reset, data: { action: 'search-form#reset' }, class: "btn-secondary" %>
  <% end %>
</div>

<div class="overflow-x-auto">
  <table class="index-table">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.member.id') %></th>
      <th><%= t('activerecord.attributes.member.tamil_name') %></th>
      <th><%= t('activerecord.attributes.member.name') %></th>
      <th><%= t('activerecord.attributes.member.personal_number') %></th>
      <th><%= t('activerecord.attributes.member.section') %></th>
      <th><%= t('activerecord.attributes.member.phone') %></th>
      <th><%= t('activerecord.attributes.member.date_of_birth') %></th>
      <th><%= t('activerecord.attributes.member.date_of_retirement') %></th>
    </tr>
    </thead>
    <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.tamil_name %></td>
        <td><%= member.name %></td>
        <td><%= member.personal_number %></td>
        <td><%= member.section %></td>
        <td><%= member.phone %></td>
        <td><%= member.date_of_birth&.to_formatted_s(:long) %></td>
        <td><%= member.date_of_retirement&.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= render partial: 'shared/pagination_bar', locals: { pagy: @pagy } %>
