<p class="text-5xl mb-4">Book Rentals</p>

<div class="flex justify-end mb-2">
  <button class="bg-blue-500 rounded-md py-2 px-4 text-lg text-white">
    <%= link_to "+ New Rental",  new_book_rental_path %>
  </button>
</div>
<div class="my-4">
  <%= form_with url: book_rentals_path, method: :get, class: "flex flex-row gap-2", data: { controller: 'search-form', search_form_target: 'form' } do |f| %>
    <%= f.search_field :search, {
      placeholder: 'Search by book or member name',
      value: params.dig(:search),
      class: "shadow border px-4 py-2 w-full rounded",
      data: { search_form_target: 'text' }
    } %>
    <%= f.submit "Search", class: "bg-blue-500 rounded-md py-2 px-4 text-lg text-white font-extrabold" %>
    <%= button_tag "Reset", type: :reset, data: { action: 'search-form#reset' }, class: "bg-blue-500 rounded-md py-2 px-4 text-lg text-white font-extrabold" %>
  <% end %>
</div>

<div class="overflow-x-auto">
  <table class="w-full table-auto rounded-md box-border border border-gray-300">
    <thead>
    <tr class="bg-gray-100">
      <th class="p-4">Issue ID</th>
      <th class="p-4">Book</th>
      <th class="p-4">Member</th>
      <th class="p-4">Issued On</th>
      <th class="p-4">Returned On</th>
    </tr>
    </thead>
    <tbody>
    <% @book_rentals.each do |book_rental| %>
      <tr>
        <td class="text-center p-2"><%= book_rental.id %></td>
        <td class="text-center p-2"><%= book_rental.borrowed_book %></td>
        <td class="text-center p-2"><%= book_rental.borrower %></td>
        <td class="text-center p-2"><%= book_rental.issued_on&.to_formatted_s(:long) %></td>
        <td class="text-center p-2"><%= book_rental.returned_on&.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= render partial: 'shared/pagination_bar', locals: { pagy: @pagy } %>
