<div class="w-full flex justify-center">
  <%= form_with(model: @book_rental, local: true, class: "flex flex-col w-full bg-white shadow-md border rounded-md p-12") do |f| %>
    <p class="text-4xl font-black mb-4">Create Book Rental</p>
    <div class="flex flex-col mb-6">
      <%= f.label :book_id, 'Book', class: "block mb-2 font-medium required-field-label" %>
      <%= f.collection_select :book_id, Book.all, :id, :name, {}, {required: true, class: "shadow border px-4 py-2 w-full rounded"} %>
    </div>
    <div class="flex flex-col mb-6">
      <%= f.label :member_id, 'Member', class: "block mb-2 font-medium required-field-label" %>
      <%= f.collection_select :member_id, Member.all, :id, :name, {}, {required: true, class: "shadow border px-4 py-2 w-full rounded"} %>
    </div>
    <div class="flex flex-col mb-6">
      <%= f.label :issued_on, class: "block mb-2 font-medium" %>
      <%= f.date_field :issued_on, value: Date.today, class: "shadow border px-4 py-2 w-full rounded" %>
    </div>
    <%= f.submit "Create", class: "bg-blue-500 rounded-md py-2 px-4 text-lg text-white font-extrabold" %>
  <% end %>
</div>
